# This python notebook is for the canada neighborhood clustering assignment

## Importing necessary libraries

In [ ]:
import pandas as pd
import numpy
from bs4 import BeautifulSoup
import requests

## Extracting the data from the wikipedia page

In [ ]:
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
res = requests.get(URL).text
soup = BeautifulSoup(res,"lxml")
#print(soup)
table = soup.findAll('table')
print(table[0])

In [ ]:
data = pd.read_html(str(table[0]))[0]

In [ ]:
data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [ ]:
filter = data['Borough'] != 'Not assigned'
new_data = data.where(filter)
new_data.head()
new_data.dropna(axis = 0, inplace=True)

In [ ]:
new_data.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [ ]:
new_data.shape

(103, 3)

## Getting Latitude and longitude

In [ ]:
pd_concat = pd.read_csv('/content/Geospatial_Coordinates.csv')
pd_concat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [ ]:
final_df = pd.merge(new_data,pd_concat,on='Postal Code')
final_df

    Postal Code           Borough  ...   Latitude  Longitude
0           M3A        North York  ...  43.753259 -79.329656
1           M4A        North York  ...  43.725882 -79.315572
2           M5A  Downtown Toronto  ...  43.654260 -79.360636
3           M6A        North York  ...  43.718518 -79.464763
4           M7A  Downtown Toronto  ...  43.662301 -79.389494
..          ...               ...  ...        ...        ...
98          M8X         Etobicoke  ...  43.653654 -79.506944
99          M4Y  Downtown Toronto  ...  43.665860 -79.383160
100         M7Y      East Toronto  ...  43.662744 -79.321558
101         M8Y         Etobicoke  ...  43.636258 -79.498509
102         M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]

In [ ]:
final_df.shape

(103, 5)

## starting clustering

## could not get fousquare api developer credentials as foursquare developer site not working for a month now for me

![alt text](/content/Capture.JPG)